.baseButton {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  padding: 10px 16px;
  border-radius: 8px;
  border: 1px solid #e5e7eb;
  background: #fff;
  color: black;
  box-shadow:
    0 1px 2px rgba(17, 24, 39, 0.04),
    0 1px 2px rgba(17, 24, 39, 0.04);
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  border-radius: var(--Corner-Radius-2xsmall, 8px);
  border: var(--Border-Width-width-1, 1px) solid
    var(--UI-Color-Border-neutral-10, #e5e7eb);
  background: var(--UI-Color-Surface-Container-Neutral-neutral-00, #fff);

  /* Drop Shadow/XSmall */
  box-shadow:
    0 1px 2px 0 var(--effects-shadow-4, rgba(17, 24, 39, 0.04)),
    0 1px 2px 0 var(--effects-shadow-4, rgba(17, 24, 39, 0.04));
  text-align: center;
  /* Label/L-2/Medium */
  font-family: var(--typography-label-inter-font-family, Inter);
  font-size: var(--typography-label-l-2-size, 14px);
  font-style: normal;
  font-weight: 500;
  line-height: var(--typography-label-l-2-line-height, 16px); /* 114.286% */
  letter-spacing: var(--typography-label-letter-spacing, 0);
}

/* Medium Button (default) */

/* Large Button */
.large {
  height: 44px;
  color: var(--ui-color-on-surface-on-neutral-00---1, #374151);
  text-align: center;

  /* Label/L-1/Medium */
  font-family: var(--typography-label-inter-font-family, Inter);
  font-size: var(--typography-label-l-1-size, 16px);
  font-style: normal;
  font-weight: 500;
  line-height: var(--typography-label-l-1-line-height, 18px); /* 112.5% */
  letter-spacing: var(--typography-label-letter-spacing, 0);
  display: flex;
  /* height: 44px; */
  padding: var(--spacing-sp-10, 10px) var(--spacing-sp-16, 16px);
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: var(--corner-radius-2xsmall, 8px);
  border: calc(var(--border-width-width-1)*1px) solid
    var(--ui-color-border-neutral-10, #e5e7eb);
  background: var(--ui-color-surface-container-neutral-neutral-00, #fff);
  /* border-width: var(--border-width-width-1, 1px); */
  border-style: solid;
  border-color: var(--ui-color-border-neutral-10, #e5e7eb);
  /* Drop Shadow/XSmall */
  box-shadow:
    0 1px 2px 0 var(--effects-shadow-4, rgba(17, 24, 39, 0.04)),
    0 1px 2px 0 var(--effects-shadow-4, rgba(17, 24, 39, 0.04));
}

/* Icon Positions */
.iconRight {
  margin-left: 4px;
}

.iconLeft {
  margin-right: 4px;
}
